.header-body {
    header {
    margin: auto;
    max-width: 90%;
        h1 {
            color: navy;
            text-align: left;
        
        }
        h3 {
            text-align: right;
        
        }
    
    }
    .header-border {
        margin: auto;
        width: 95%;
        height: 3px;
        background-color: red;
    }
}